{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% block title %}Добавить новое сообщество{% endblock %}
{% block header %}Добавить новое сообщество{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 p-5">
        <div class="card">

            <h5 class="card-header">Добавить сообщество</h5>


            <div class="card-body">
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% endif %}
                <form method="post" enctype="multipart/form-data" action={{ request.path }} id="postForm">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row"
                        aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                        <div class="col-md-10 offset-md-1">
                            {{ field|addclass:"form-control" }}
                            {% if field.help_text %}
                            <small id="{{ field.id_for_label }}-help"
                                class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}




                    <div class="col-md-4 offset-md-4">
                        <button class="btn btn-primary" type="submit">
                            Добавить сообщество

                        </button>
                    </div>
                </form>

            </div> <!-- card body -->

        </div> <!-- card -->

    </div> <!-- col -->
</div> <!-- row -->



{% endblock %}